<div id="view-container">
    <h2 class="view-title">
         {{ station }}
    </h2>

    <ion-grid id="train-list">
        <span>
            <ion-row class="train" *ngFor="let r of panel" (click)="onStart(r.destination, r.quai)">
                <ion-col col-2>
                    <span class="train-type">
                        {{r.typeTrain}}
                    </span>
                </ion-col>
                <ion-col col-2>
                    <span class="train-hour">
                        {{ r.heure }}
                    </span>
                </ion-col>
                <ion-col col-6>
                    <span class="train-destination">
                        {{ r.destination }}
                    </span>
                </ion-col>
                <ion-col col-2>
                    <span class="train-platform">
                        {{ r.quai }}
                    </span>
                </ion-col>
            </ion-row>
        </span>
    </ion-grid>
</div>
