<div id="view-container">
    <h2 class="view-title">
         {{ station }}
    </h2>

    <table id="train-list">
        <tr>
            <th class="train-type">Train</th>
            <th class="train-hour">Heure</th>
            <th class="train-destination">Destination</th>
            <th class="train-platform">Voie</th>
        </tr>

        <tr class="train" *ngFor="let r of panel" (click)="onStart(r.destination, r.quai)">
            <td class="train-type">
                {{r.typeTrain}}
            </td>
            <td class="train-hour">
                {{r.heure}}
            </td>
            <td class="train-destination">
                {{r.destination}}
            </td>
            <td class="train-platform">
                {{r.quai}}
            </td>
        </tr>
    </table>
    <!--ion-row class="train" *ngFor="let r of panel" (click)="onStart(r.destination, r.quai)">
            <span>
                <ion-col col-2>
                    <span class="train-type">
                        {{r.typeTrain}}
                    </span>
                </ion-col>
                <ion-col col-2>
                    <span class="train-hour">
                        {{ r.heure }}
                    </span>
                </ion-col>
                <ion-col col-6>
                    <span class="train-destination">
                        {{ r.destination }}
                    </span>
                </ion-col>
                <ion-col col-2>
                    <span class="train-platform">
                        {{ r.quai }}
                    </span>
                </ion-col>
            </span>
        </ion-row-->
</div>
