page-home {
}

#view-pannel
{
    
}

#view-container .view-title
{
    color: white;
    vertical-align: top;
}

#view-container {
	background-color: #333333;
	padding-left: 5%;	
	padding-right: 5%;
	padding-bottom: 10%;
	padding-top: 10%;
}

#train-list {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	font-family: 'Avenir';
}

#train-list .train
{
	color: white;
	font-size: 100%;
	height: 18%;
}

/*#train-list .train span {
	padding-left: 3%;
	padding-right: 3%;
}*/

#train-list .train:hover
{
	cursor: pointer;
}

#train-list .train:nth-child(odd)
{
    background-color: #00c2ec;
}

#train-list .train:nth-child(even)
{
    background-color: #0082c8;
}

/*

#train-list .train .train-type,
{
	text-align: center;
}

#train-list .train .train-destination 
{
	text-align: left;
	vertical-align: top;
	font-size: 120%;
}

#train-list .train .train-platform {
	text-align: center;
}

#train-list .train .train-hour {
	font-weight: bold;
	color: yellow;
	padding: 2px;
	text-align: left;
}

#train-list .train:nth-child(odd) .train-platform span {
	color: #00C2EC;
	background-color: white;
	padding: 2px;
}

#train-list .train:nth-child(even) .train-platform span {
	color: #0082c8;
	background-color: white;
	padding: 2px;
}*/
