<ion-view id="view-pannel">

    <div id="view-container">
        <h2 class="view-title">
            {{ station }}
        </h2>

        <ion-list class="train-list">
            <ion-item class="train" *ngFor="let r of panel" (click)="onStart(r.destination, r.quai)">
                <span class="train-type">
                    T{{r.typeTrain}}
                </span>
                <span class="train-hour">
                    {{ r.heure }}
                </span>
                <span class="train-destination">
                    {{ r.destination }}
                </span>
                <span class="train-platform">
                    {{ r.quai }}
                </span>
                <br/>
            </ion-item>
        </ion-list>
    </div>
</ion-view>
